@charset "UTF-8";

* {
	font-family: "Tahoma"
}

#login-panel {
	width: 400px;
	margin: 50px auto;
	border-radius: 3px;
}

#login-panel table {
	border: 1px solid #DDD;
	padding: 50px;
	border-radius: 3px;
}

:focus {
	outline: none;
}

#login-panel input[type='text'], #login-panel input[type='password'] {
	border: 1px solid #DDD;
	padding: 3px;
	border-radius: 3px;
}

#login-panel input[type='submit'] {
	border: 1px solid #DDD;
	width: 100%;
	padding: 5px;
	background-color: white;
	border-radius: 3px;
	font-size: 15px;
}